/* CSS for basic styling */
h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

p, li {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #b2b7bb;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #002a5c;
    color: #7ac142;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    background-color: #7ac142;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #002a5c;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

.colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
  }
  .colors th {
    background-color: #999;
  }
  .colors td{
    width: 25%;
    height: 3em;
  }

.primary {
    background-color: #002a5c;
    color: #fff;
}

.secondary {
    background-color: #7ac142;
}

.text {
    background-color: #333;
    color: #fff;
}

.heading {
    background-color: #2d5980;
    color: #fff;
}

.footer-bck {
    background-color: #002a5c;
    color: #fff;
}

.footer-txt {
    background-color: #fff;
}

.background {
    background-color: #b2b7bb;
}

h2 {
    color: #2d5980;
}

h3 {
    color: #2d5980;
}

#wire {
    text-align: center;
}

#large {
    width: 600px;
    height: auto;
}

footer {
    background-color: #002a5c;
    color: #fff;
    text-align: center;
    padding: 10px;
}
