/* Reset some default styles */
body, h1, h2 {
  margin: 0;
  padding: 0;
}

/* Style the header */
header {
  background-color: #002a5c;
  color: white;
  text-align: center;
  padding: 20px;
  width: max-content;
}

/* Style the main content area */
.grid {
  display: grid;
  gap: 20px;
  padding: 20px;
  color: black;
}

#cards.grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

/* Style the prophet cards */
section {
  background-color: #e5e5e5af;
  border: 1px solid #002a5c;
  padding: 20px;
  text-align: center;
}

/* Style for larger screens (4 columns) */
@media screen and (min-width: 400px) {
  #cards.grid {
    display: grid;
    gap: 20px;
    padding: 20px;
    color: black;
  }
}

@media screen and (max-width: 1000px) {
  #cards.grid {
      grid-template-columns: 50% 50%;
  }
}

/* Style the footer */
footer {
  background-color: #002a5c;
  color: white;
  text-align: center;
  padding: 10px;
}
