/* Dark mode styles */
body.dark-mode {
    background-color: #333; /* Set the overall background color for dark mode */
    color: #fff; /* Set text color for dark mode */
}

.dark-mode .home {
    background-color: #333;
}

.dark-mode main section div {
    background-color: #222;
}

/* Example: Change the background color for specific elements */
.dark-mode #hero {
    background-color: #222; /* Change the hero section background color */
}

.dark-mode #event {
    background-color: #222; /* Change the event section background color */
}

.dark-mode #weather {
    background-color: #222; /* Change the weather section background color */
}

.dark-mode #news {
    background-color: #222; /* Change the news section background color */
}

.dark-mode #join {
    background-color: #222; /* Change the join section background color */
}

.dark-mode #spotlights {
    background-color: #222; /* Change the spotlights section background color */
}

.darkmode.spotlight-item p {
    background-color: #222;
}

.dark-mode #spotlights a {
    color: #7ac142; /* Change the spotlights section background color */
}

.dark-mode #weather_top {
    background-color: #222; /* Change the background color of the "weather_top" div */
}

.dark-mode .discover {
    background-color: #222;
}

.dark-mode .discover h3 {
    color: #7ac142;
}

.dark-mode .sidebar {
    background-color: #222;
    color: #7ac142;
}

.dark-mode .sidebar p {
    background-color: #222;
    color: #fff;
}

.dark-mode .calendar {
    background-color: #222;
}

.dark-mode #prev-month {
    background-color: #222;
    color: #7ac142;
}

.dark-mode #next-month {
    background-color: #222;
    color: #7ac142;
}

.dark-mode .event-day {
    background-color: #7ac142;
    color: #fff;
}

.dark-mode .today {
    background-color: #002a5c;
    color: #fff;
}

.dark-mode main{
    background-color: #222;
    color: #fff;
}

.dark-mode form input, textarea {
    border: 2px solid #7ac142;
}

.dark-mode .forecast-item {
    background-color: #002a5c;
}