/* Larger Views ******************************/
@media (min-width: 640px) {
	nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}
}

/* Hide menu items by default */
nav ul {
    display: none;
}

/* Show menu items on larger screens */
@media (min-width: 640px) {
    nav ul {
        display: flex;
    }
    /* Additional styles for larger screens if needed */
}

/* Show menu items when the "show-menu" class is applied */
nav ul.show-menu {
    display: flex;
    flex-direction: column; /* Display items vertically for better mobile experience */
    background-color: darkslategray;
    /* Additional styles for the open menu */
}

/* Style individual menu items */
nav ul.show-menu li {
    margin-right: 0; /* Reset margin for mobile layout */
}

/* Style links within the menu items */
nav ul.show-menu a {
    color: aquamarine;
    padding: 10px;
    text-decoration: none;
}

nav ul.show-menu a:hover {
    color: darkslategray;
    
}

#hamburger-button::before {
	content: "✖";
}

/* Style the button when menu is open */
#hamburger-button.active::before{
    /* Add styling to indicate it's active, e.g., change to an 'X' symbol */
    content: "☰";
}

